.aboutHome {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0;
}

.aboutHome #heading {
  text-align: left;
  padding: 0;
}
.aboutHome .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutHome .right {
  padding: 0;
}
.aboutHome .item p {
  margin: 0;
  padding: 0;
}
.aboutHome .items {
  margin-top: 50px;
}
.aboutHome .item {
  width: 600px; 
  height: 160px; 
  background-color: #fff;
  padding: 10px 20px; 
  border-radius: 12px;
  display: flex;
  align-items: center; 
  gap: 20px;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


.aboutHome .img {
  width: 70px;
  height: 70px;
}

.aboutHome img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.aboutHome .text h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.aboutHome .text p {
  font-size: 14px;
  margin: 0;
}


.aboutHome .item:hover {
  background-color: #ffffff;
  color: #f9f760;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  border: 2px solid #f9f760;
}
.aboutHome .item:hover p {
  color:rgba(219, 215, 4, 0.9);
}

.aboutHome .items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 15px;
  padding-left: 50px;
}

.header-container {
  padding-left: 50px;
  margin-top: 20px;
}
