.login-form {
  max-width: 400px;
  margin: 100px auto;
  color: #000000;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.login-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-form form button {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
    background-color: #000000;
    border: 1px solid #f9f760;
    color:#f9f760 ;
}

.login-form form button:hover {
    background-color: #f9f760;
  color: #000000;
}
